# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# Environment bestanden
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store